<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435345795137-vpgsjmfqv4ch9ikd8u1ofiq347evahqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435345795137-vpgsjmfqv4ch9ikd8u1ofiq347evahqc</string>
	<key>API_KEY</key>
	<string>AIzaSyDb89hyn9uMsQnS2TiyFYPlMPlI_wutBbo</string>
	<key>GCM_SENDER_ID</key>
	<string>435345795137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gjeffreys.myapp</string>
	<key>PROJECT_ID</key>
	<string>snapconnect-6108c</string>
	<key>STORAGE_BUCKET</key>
	<string>snapconnect-6108c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435345795137:ios:f9feda9a2a03b8fd4e7ec0</string>
</dict>
</plist>